/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        vim_save: vim_save {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE &kp COLON &kp W &kp ENTER>;
            label = "VIM_SAVE";
        };

        vim_save_and_close: vim_save_and_close {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE &kp COLON &kp X &kp ENTER>;
            label = "VIM_SAVE_AND_CLOSE";
        };

        vim_quit: vim_quit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE &kp COLON &kp Q &kp ENTER>;
            label = "VIM_QUIT";
        };

        vim_save_and_exit: vim_save_and_exit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE &kp COLON &kp W &kp Q &kp ENTER>;
            label = "VIM_SAVE_AND_EXIT";
        };

        open_nvim_in_current: open_nvim_in_current {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp V &kp I &kp M &kp SPACE &kp DOT &kp ENTER>;
            label = "OPEN_NVIM_IN_CURRENT";
        };

        aws_sso_login: aws_sso_login {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp A &kp W &kp S &kp SPACE &kp S &kp S &kp O &kp SPACE &kp L &kp O &kp G &kp I &kp N &kp SPACE &kp MINUS &kp MINUS &kp P &kp R &kp O &kp F &kp I &kp L &kp E &kp SPACE &kp C &kp O &kp S &kp M &kp MINUS &kp N &kp O &kp N &kp P &kp R &kp O &kp D &kp ENTER>;
            label = "AWS_SSO_LOGIN";
        };

        open_k9s: open_k9s {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp K &kp N9 &kp S &kp ENTER>;
            label = "OPEN_K9S";
        };

        macrocosm_setup: macrocosm_setup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp M &kp A &kp C &kp R &kp O &kp C &kp O &kp S &kp M &kp SPACE &kp S &kp E &kp T &kp U &kp P &kp SPACE &kp MINUS &kp MINUS &kp D &kp E &kp V &kp SPACE>;
            label = "MACROCOSM_SETUP";
        };

        garden_deploy: garden_deploy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp G &kp A &kp R &kp D &kp E &kp N &kp SPACE &kp D &kp E &kp P &kp L &kp O &kp Y &kp ENTER>;
            label = "GARDEN_DEPLOY";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        macos {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp GRAVE         &kp N1  &kp N2  &kp N3   &kp N4        &kp N5                                    &kp N6            &kp N7         &kp N8         &kp N9   &kp N0    &kp MINUS
&kp TAB           &kp Q   &kp W   &kp E    &kp R         &kp T                                     &kp Y             &kp U          &kp I          &kp O    &kp P     &kp ENTER
&kp LEFT_SHIFT    &kp A   &kp S   &kp D    &kp F         &kp G                                     &kp H             &kp J          &kp K          &kp L    &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z   &kp X   &kp C    &kp V         &kp B             &tog 1       &tog 2     &kp N             &kp M          &kp COMMA      &kp DOT  &kp FSLH  &kp RIGHT_BRACKET
                                  &kp ESC  &kp LEFT_ALT  &kp LEFT_COMMAND  &kp SPACE    &kp SPACE  &kp LEFT_BRACKET  &kp BACKSPACE  &kp BACKSLASH
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        macos_lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&kp TILDE         &kp EXCLAMATION  &kp AT     &kp HASH          &kp DOLLAR         &kp PERCENT                                         &kp CARET            &kp AMPERSAND       &kp ASTERISK   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS
&kp F1            &kp F2           &kp F3     &kp F4            &kp F5             &kp F6                                              &kp F7               &kp F8              &kp F9         &kp F10               &kp F11                &kp PLUS
&kp LEFT_SHIFT    &trans           &trans     &ext_power EP_ON  &ext_power EP_OFF  &ext_power EP_TOG                                   &bt BT_CLR           &bt BT_SEL 0        &bt BT_SEL 1   &trans                &kp COLON              &kp PIPE
&kp LEFT_CONTROL  &aws_sso_login   &open_k9s  &macrocosm_setup  &garden_deploy     &trans             &tog 0    &tog 3                 &vim_save_and_close  &vim_save_and_exit  &kp LT         &kp GT                &kp QUESTION           &trans
                                              &kp ESCAPE        &kp LEFT_ALT       &kp LEFT_COMMAND   &tog 2    &open_nvim_in_current  &vim_save            &vim_quit           &kp BACKSLASH
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        macos_raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&kp TILDE  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp PERCENT                    &kp CARET    &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS
&kp GRAVE  &kp N1           &kp N2       &kp N3    &kp N4      &kp N5                         &kp N6       &kp N7         &kp N8        &kp N9                &kp N0                 &kp KP_PLUS
&kp F1     &kp F2           &kp F3       &kp F4    &kp F5      &kp F6                         &kp LEFT     &kp DOWN       &kp UP_ARROW  &kp RIGHT             &trans                 &trans
&kp F7     &kp F8           &kp F9       &kp F10   &kp F11     &kp F12      &tog 0    &tog 3  &kp KP_PLUS  &kp MINUS      &kp EQUAL     &kp LBKT              &kp RBKT               &trans
                                         &trans    &trans      &trans       &tog 1    &trans  &trans       &trans         &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        fortnite {
            bindings = <
&kp ESCAPE        &kp N1  &kp N2  &kp N3  &kp N4            &kp N5                          &kp N6  &kp N7   &kp N8         &kp N9   &kp N0    &kp MINUS
&kp TAB           &kp Q   &kp W   &kp E   &kp R             &kp T                           &kp Y   &kp U    &kp I          &kp O    &kp P     &kp BACKSPACE
&kp LEFT_SHIFT    &kp A   &kp S   &kp D   &kp F             &kp G                           &kp H   &kp J    &kp K          &kp L    &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z   &kp X   &kp C   &kp V             &kp B   &kp LBKT     &kp RBKT   &kp N   &kp M    &kp COMMA      &kp DOT  &kp FSLH  &to 0
                                  &kp H   &kp LEFT_CONTROL  &kp M   &kp SPACE    &kp ENTER  &to 1   &kp DEL  &kp BACKSLASH
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
